[submodule "external/harbor"]
	path = external/harbor
	url = https://github.com/semphriss/harbor.git
[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "external/sexp-cpp"]
	path = external/sexp-cpp
	url = https://github.com/SuperTux/sexp-cpp.git
